[Desktop Entry]
Version=1.0
Type=Application

Name=Data Usage Monitor
GenericName=Data Usage Monitor
Comment=Monitor network data usage with vnStat

Exec=@DIR@/run.sh
Icon=@DIR@/icon.png

Terminal=false
StartupNotify=true

Categories=Utility;System;Monitor;
Keywords=network;internet;traffic;bandwidth;usage;monitor;vnstat;data;
